{% extends "frontend/base.html" %}
{% load static %}

{% block title %}
Login | Personal Knowledge AI
{% endblock %}

{% block content %}

<div class="auth-page">

    <div class="auth-card">

        <h1 class="mb-2">
            Personal Knowledge AI
        </h1>

        <p class="text-secondary mb-4">
            Sign in to continue
        </p>

        <div
            id="error-message"
            class="alert alert-danger d-none">
        </div>

        <form id="login-form">

            {% csrf_token %}

            <div class="mb-3">

                <label
                    for="username"
                    class="form-label">
                    Username
                </label>

                <input
                    id="username"
                    class="form-control"
                    type="text"
                    required
                >

            </div>

            <div class="mb-4">

                <label
                    for="password"
                    class="form-label">
                    Password
                </label>

                <input
                    id="password"
                    class="form-control"
                    type="password"
                    required
                >

            </div>

            <button
                type="submit"
                class="btn btn-dark w-100">
                Login
            </button>

        </form>

        <p class="text-center mt-4">

            Don't have an account?

            <a href="/register/">
                Register
            </a>

        </p>

    </div>

</div>

{% endblock %}


{% block scripts %}

<script
    src="{% static 'frontend/js/login.js' %}">
</script>

{% endblock %}
